{% extends 'art/art.html' %}

{% block css %}
    <script src="{{ url_for("static", filename='ue/ueditor.config.js') }}" type="text/javascript"
            charset="UTF-8"></script>
    <script src="{{ url_for("static", filename='ue/ueditor.all.js') }}" type="text/javascript" charset="UTF-8"></script>
    <script src="{{ url_for("static", filename='ue/lang/zh-cn/zh-cn.js') }}" type="text/javascript"
            charset="UTF-8"></script>

{% endblock %}
{% block content %}

    <form action="{{ url_for('art.edit', id=form.id.data) }}" method="post">
        <input type="hidden" name="id" value="{{ form.id.data }}">
        <div class="form-group">
            <label>{{ form.title.label }}</label>
            {{ form.title(value=form.title.data) }}
            {% for v in form.title.errors %}
                <p style="color: red">{{ v }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label>{{ form.content.label }}</label>
            {{ form.content(value=form.content.data) }}
            {% for v in form.content.errors %}
                <p style="color: red">{{ v }}</p>
            {% endfor %}
        </div>
        {{ form.submit }}
        {{ form.csrf_token }}
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#m3").addClass("active")
        });

        var ue = UE.getEditor("content")

    </script>

{% endblock %}